@media screen and (max-width: 321px) {
  .form-container {
    width: 95vw;
    height: 75vh;
  }
}
@media screen and (max-width: 559px) {
  .form-container {
    width: 95vw;
    height: 75vh;
  }
}
@media screen and (max-width: 959px) {
  .form-container {
    width: 95vw;
    height: 75vh;
  }
}
